/* about.css */
.aboutcontainer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #about{
    text-align: center;
    text-decoration: underline   crimson;
  }

  span{
    color: crimson;
  }
  .main-heading {
    padding: 0;
    margin-top: 50px;
  }
  
  .about-paragraph {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .blockquote {
    text-align: left;
  }
  