.aboutcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#about{
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: crimson;
}
#paragraph{
    text-align:left;
    padding: 30px 0px;
    font-size: 25px;
}
.para-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span {
    color: crimson;
}



.skills-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:fill;
}
